<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clickablemap</title>
</head>
<body>
    <img src="/static/japan_map.jpg" usemap="#image-map">

    <map name="image-map">
    <area target="_self" alt="hokkaido" title="hokkaido" href="/prefecture/hokkaido" coords="764,0,973,163" shape="rect">
    <area target="_self" alt="aomori" title="aomori" href="/prefecture/aomori" coords="940,235,777,188" shape="rect">
    <area target="_self" alt="akita" title="akita" href="/prefecture/akita" coords="775,240,873,289" shape="rect">
    <area target="_self" alt="iwate" title="iwate" href="/prefecture/iwate" coords="880,239,940,289" shape="rect">
    <area target="_self" alt="yamagata" title="yamagata" href="/prefecture/yamagata" coords="776,292,873,340" shape="rect">
    <area target="_self" alt="miyagi" title="miyagi" href="/prefecture/miyagi" coords="879,291,940,341" shape="rect">
    <area target="_self" alt="fukushima" title="fukushima" href="/prefecture/fukushima" coords="777,348,940,398" shape="rect">
    <area target="_self" alt="gunma" title="gunma" href="/prefecture/gunma" coords="777,401,873,449" shape="rect">
    <area target="_self" alt="tichigi" title="tichigi" href="/prefecture/tochigi" coords="878,401,940,448" shape="rect">
    <area target="_self" alt="saitama" title="saitama" href="/prefecture/saitama" coords="777,452,873,500" shape="rect">
    <area target="_self" alt="ibaraki" title="ibaraki" href="/prefecture/ibaraki" coords="879,452,940,500" shape="rect">
    <area target="_self" alt="tokyo" title="tokyo" href="/prefecture/tokyo" coords="777,509,873,556" shape="rect">
    <area target="_self" alt="kanagawa" title="kanagawa" href="/prefecture/kanagawa" coords="777,561,873,609" shape="rect">
    <area target="_self" alt="chiba" title="chiba" href="/prefecture/chiba" coords="879,509,939,608" shape="rect">
    <area target="_self" alt="niigata" title="niigata" href="/prefecture/niigata" coords="708,348,771,396" shape="rect">
    <area target="_self" alt="nagano" title="nagano" href="/prefecture/nagano" coords="708,402,770,501" shape="rect">
    <area target="_self" alt="yamanashi" title="yamanashi" href="/prefecture/yamanashi" coords="707,511,770,559" shape="rect">
    <area target="_self" alt="shizuoka" title="shizuoka" href="/prefecture/shizuoka" coords="709,563,770,611" shape="rect">
    <area target="_self" alt="toyama" title="toyama" href="/prefecture/toyama" coords="641,348,703,396" shape="rect">
    <area target="_self" alt="gifu" title="gifu" href="/prefecture/gifu" coords="641,402,702,501" shape="rect">
    <area target="_self" alt="aichi" title="aichi" href="/prefecture/aichi" coords="641,509,701,559" shape="rect">
    <area target="_self" alt="ishikawa" title="ishikawa" href="/prefecture/ishikawa" coords="571,348,633,397" shape="rect">
    <area target="_self" alt="fukui" title="fukui" href="/prefecture/fukui" coords="571,401,632,449" shape="rect">
    <area target="_self" alt="shiga" title="shiga" href="/prefecture/shiga" coords="571,457,633,505" shape="rect">
    <area target="_self" alt="mie" title="mie" href="/prefecture/mie" coords="572,509,633,558" shape="rect">
    <area target="_self" alt="kyoto" title="kyoto" href="/prefecture/kyoto" coords="504,457,565,505" shape="rect">
    <area target="_self" alt="nara" title="nara" href="/prefecture/nara" coords="504,510,563,558" shape="rect">
    <area target="_self" alt="hyogo" title="hyogo" href="/prefecture/hyogo" coords="436,456,498,505" shape="rect">
    <area target="_self" alt="osaka" title="osaka" href="/prefecture/osaka" coords="436,509,498,557" shape="rect">
    <area target="_self" alt="wakayama" title="wakayama" href="/prefecture/wakayama" coords="429,563,565,612" shape="rect">
    <area target="_self" alt="tottori" title="tottori" href="/prefecture/tottori" coords="365,458,427,505" shape="rect">
    <area target="_self" alt="okayama" title="okayama" href="/prefecture/okayama" coords="365,509,427,558" shape="rect">
    <area target="_self" alt="shimane" title="shimane" href="/prefecture/shimane" coords="297,457,358,505" shape="rect">
    <area target="_self" alt="hiroshima" title="hiroshima" href="/prefecture/hiroshima" coords="296,510,359,557" shape="rect">
    <area target="_self" alt="yamaguchi" title="yamaguchi" href="/prefecture/yamaguchi" coords="229,456,290,555" shape="rect">
    <area target="_self" alt="kagawa" title="kagawa" href="/prefecture/kagawa" coords="346,573,407,623" shape="rect">
    <area target="_self" alt="ehime" title="ehime" href="/prefecture/ehime" coords="277,573,339,623" shape="rect">
    <area target="_self" alt="kochi" title="kochi" href="/prefecture/kochi" coords="278,627,340,676" shape="rect">
    <area target="_self" alt="tokushima" title="tokushima" href="/prefecture/tokushima" coords="345,627,408,676" shape="rect">
    <area target="_self" alt="oita" title="oita" href="/prefecture/oita" coords="147,506,207,553" shape="rect">
    <area target="_self" alt="miyazaki" title="miyazaki" href="/prefecture/miyazaki" coords="146,559,207,659" shape="rect">
    <area target="_self" alt="fukuoka" title="fukuoka" href="/prefecture/fukuoka" coords="78,505,140,553" shape="rect">
    <area target="_self" alt="kumamoto" title="kumamoto" href="/prefecture/kumamoto" coords="76,558,140,605" shape="rect">
    <area target="_self" alt="saga" title="saga" href="/prefecture/saga" coords="11,506,71,554" shape="rect">
    <area target="_self" alt="nagasaki" title="nagasaki" href="/prefecture/nagasaki" coords="10,558,71,604" shape="rect">
    <area target="_self" alt="kagoshima" title="kagoshima" href="/prefecture/kagoshima" coords="10,611,139,658" shape="rect">
    <area target="_self" alt="okinawa" title="okinawa" href="/prefecture/okinawa" coords="8,687,70,734" shape="rect">
    </map>

</body>
</html>